<%- include("cabeceras/cabecera.menu.ejs") %> 
<%- include("cabeceras/cabecera.navbar.ejs") %> 
    <div class="container">
        <h1 style="text-align: center;">Presupuestos</h1>
        <a data-toggle="tooltip" data-placement="top" title="Agregar Presupuesto" tool onclick="agregar()"
            class="btn"><i class='bx bxs-plus-circle bx-md'></i></a>
        <table id="presupuesto" class="wp-list-table widefat striped posts" style="width: 95%; height: 75%;">
            <thead>
                <tr class="bg-secondary text-white">
                    <th scope="col">Enviar</th>
                    <th scope="col">Id Presupuesto</th>
                    <th scope="col">Fecha Creación</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Versiones</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((presupuesto)=>{ %>
                    <tr>
                        <td>
                            <a href="/updateProducto/<%= presupuesto.idPresupuesto%>" class="btn"><i class='bx bxs-send'></i></a>
                        </td>
                        <td>
                            <%= presupuesto.idPresupuesto %>
                        </td>
                        <td>
                            <%= presupuesto.fechaCreacion %>
                        </td>
                        <td>
                            <%= presupuesto.proyecto %>
                        </td>
                        <td>
                            <%= presupuesto.versiones %>
                        </td>
                        <td>
                            <a data-toggle="tooltip" data-placement="top" title="Editar"
                                href="/updatePresupuesto/<%= presupuesto.idPresupuesto%>" class="btn"><i class='bx bxs-edit'></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Eliminar"
                                onclick="eliminar('<%= presupuesto.idPresupuesto%>','<%= presupuesto.proyecto %>')" class="btn"><i
                                    class='bx bxs-trash-alt'></i></a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/presupuestos.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script> 
</body>

</html>